# ===================================
# Android Studio & Gradle
# ===================================
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# ===================================
# Python / ML Server
# ===================================
# Hugging Face 캐시 폴더
huggingface_cache/

# Python 가상 환경 폴더
.venv/
venv/

# Python 컴파일 파일 및 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# ===================================
# Sensitive Info (API Keys, etc.)
# ===================================
.env
garakey.env
chinamoney-fb6772e4457f.json
original-gasket-457117-b3-ec0387fb3a9d.json
stellar-cumulus-467021-q9-97bc3abb3f27.json
local.properties